<p style="color: green"><%%= notice %></p>

<h1><%= human_name.pluralize %></h1>

<div id="<%= plural_table_name %>">
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
    <%%= turbo_frame_tag <%= singular_table_name %> do %>
      <%%= render <%= singular_table_name %> %>
    <%% end %>
  <%% end %>
</div>
<%%= turbo_frame_tag id="new_<%= human_name.downcase %>_form" do %>
  <%%= link_to "New <%= human_name.downcase %>", <%= new_helper(type: :path) %> %>
<%% end %>
