<p style="color: green"><%%= notice %></p>

<h1><%= human_name.pluralize %></h1>

<%%= turbo_frame_tag id="new_<%= human_name.downcase %>_form" do %>
  <%%= link_to "New <%= human_name.downcase %>", <%= new_helper(type: :path) %> %>
<%% end %>

<div id="<%= plural_table_name %>">
<%%= render @<%= plural_table_name %> %>
</div>

